.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
}

.navbar-logo img {
  height: 50px; /* o el tamaño que quieras */
}

.navbar-links {
  list-style: none;
  display: flex;        /* los pone uno al lado del otro */
  gap: 20px;            /* separacion */
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.navbar-links li a:hover {
  color: #f0a500;
}